doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="icon", type="image/svg+xml", href="assets/favicon/favicon.svg")

        link(rel="stylesheet", href="assets/styles/main.css")
        block head
    body
        include _header
        block content
        include _footer
        script(defer, src="assets/scripts/main.js")
        block scripts